
q {
  font-family: "slabo";
  color: #ee8572;
  font-size: 25px;

}
.button {
  background-color: #ee8572;
  border: none;
  font-family: montserrat;
  padding: 15px 15px ;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin-left: 80%;


}

.blog-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  background-color: #b4e9e2;
  border-radius: 25%;
}

.body {

  font-size: 19px;
  margin-left: 60px;
  margin-right: 60px;
}

.blog-image {
  width: 65%;
  margin: 10px auto auto 20px;
  
}



.footer {
  position: sticky;
}
